@font-face {
    font-family: "Bold";
    src: local("Bold"), url(./GTWalsheimPro-Bold.ttf) format("truetype");
}

@font-face {
    font-family: "Medium";
    src: local("Medium"), url(./GTWalsheimPro-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Normal";
    src: local("Normal"), url(./GTWalsheimPro-Medium.ttf) format("truetype");
}

@font-face {
    font-family: "Light";
    src: local("Light"), url(./GTWalsheimPro-Light.ttf) format("truetype");
}

@font-face {
    font-family: "Thin";
    src: local("Thin"), url(./GTWalsheimPro-Thin.ttf) format("truetype");
}